/* Large desktops and laptops */
@media (min-width: 1200px) 
{
.ar 
{
width:33%;
}
.ars
{
width:25%;
}
.mchat
{
	height:160px;
    background-image:url(../img/chat.png);
	background-size:100%;
	background-repeat:no-repeat;
}
.mhelp
{
	 height:250px;
     background-image:url(../img/help.png);
	 background-size:100%;
	 background-repeat:no-repeat;
}
.btncurr
{
border-bottom-left-radius:5px;border-top-left-radius:5px;
}
.btnlink
{
border-bottom-right-radius:5px;border-top-right-radius:5px;
}
}
/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
.navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) 
{
.ar
{
width:100%;
}
.ars
{
width:100%;
}
.navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}

/* Portrait phones and smaller */
@media (max-width: 480px) 
{
.ar
{
width:100%;
margin:5%;
}
.ars
{
width:100%;
margin:5%;
}
.mhelp
{
     background-image:url(../img/mhelp.png);
	 background-size:100%;
	 background-repeat:no-repeat;
	 height:100px;
}
.mchat
{
	height:160px;
    background-image:url(../img/mchat.png);
	background-size:100%;
	background-repeat:no-repeat;
}
}